@import "config/colors";
@import "font-awesome";
// @import "modules/flash";
@import "config/font-size";
@import "config/reset";
// @import "mixins/mixin";
@import "mixins/vendor_prefix";
@import "modules/side_bar";
@import "modules/chat";
// @import "modules/user";
@import "messages.scss";